[Unit]
Description=Pre-annotate namespaces for MicroShift PodSecurity workaround
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/microshift-ns-annotator.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
