[Unit]
Description=Patch OVN-Kubernetes DaemonSets for kernels without nft_compat
Wants=microshift.service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/microshift/microshift-ovnk-patch.sh

[Install]
WantedBy=multi-user.target
