{
  "auths": {
    "cloud.openshift.com": {
      "auth": "REPLACE_WITH_BASE64_ENCODED_USER_COLON_TOKEN",
      "email": "user@example.com"
    },
    "quay.io": {
      "auth": "REPLACE_WITH_BASE64_ENCODED_USER_COLON_TOKEN",
      "email": "user@example.com"
    },
    "registry.connect.redhat.com": {
      "auth": "REPLACE_WITH_BASE64_ENCODED_USER_COLON_TOKEN",
      "email": "user@example.com"
    },
    "registry.redhat.io": {
      "auth": "REPLACE_WITH_BASE64_ENCODED_USER_COLON_TOKEN",
      "email": "user@example.com"
    }
  }
}
